{% extends "base.html" %}

{% block content %}
<main >
    <div class="container wow fadeIn">

      <h2 class="my-5 h2 text-center">Payment</h2>

      <div class="row">

        <div class="col-md-6 mb-4">
          <div class="card">
          <section class="creditly-wrapper gray-theme" style="margin-bottom: 0px;">
              <h3 style="padding-bottom: 25px;">Credit Card</h3>
            <i>
                <div class="card-type" style="text-align:right;margin-top:10px;margin-right:10px;min-height:20px;margin-bottom:-15px"></div>
            </i>
            <div class="credit-card-wrapper">
                <div class="first-row form-group">
                <div class="col-sm-8 controls">
                    <label class="control-label">Card Number</label>
                    <input class="number credit-card-number form-control"
                    type="text" name="number"
                    pattern="\d*"
                    inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
                    placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
                </div>
                <div class="col-sm-4 controls">
                    <label class="control-label">CVV</label>
                    <input class="security-code form-control"·
                    inputmode="numeric"
                    pattern="\d*"
                    type="text" name="security-code"
                    placeholder="&#149;&#149;&#149;">
                </div>
                </div>
                <div class="second-row form-group">
                <div class="col-sm-8 controls">
                    <label class="control-label">Name on Card</label>
                    <input class="billing-address-name form-control"
                    type="text" name="name"
                    placeholder="John Smith">
                </div>
                <div class="col-sm-4 controls">
                    <label class="control-label">Expiration</label>
                    <input class="expiration-month-and-year form-control"
                    type="text" name="expiration-month-and-year"
                    placeholder="MM / YY">
                </div>
                </div>
            </div>
            </section>

          </div>
        </div>

            {% include "order_snippet.html" %}

      </div>

    </div>
  </main>
{% endblock content %}

{% block extra_scripts %}
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script type="text/javascript">
    $(function() {
      // For the gray theme
      var grayThemeCreditly = Creditly.initialize(
          '.creditly-wrapper.gray-theme .expiration-month-and-year',
          '.creditly-wrapper.gray-theme .credit-card-number',
          '.creditly-wrapper.gray-theme .security-code',
          '.creditly-wrapper.gray-theme .card-type');

      $(".creditly-gray-theme-submit").click(function(e) {
        e.preventDefault();
        var output = grayThemeCreditly.validate();
        if (output) {
          // Your validated credit card output
          console.log(output);
        }
      });
    });
    </script>

{% endblock extra_scripts %}